body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.grigio {
    background-color: rgb(37, 36, 36) !important;
    width: 90% !important;
    border-radius: 20px !important;
}


.heightimg{
    height: 100% !important;
}

nav img{
    height: 50px;
}
.mycard{
    width: 100%;
}
.imgModify{
    height: 100% !important
}